<script type="text/javascript">
$(document).ready(function(){
  $("li.menu").click(function(){
		$("li.menu").removeClass("current-menu-item");
		$(this).addClass("current-menu-item");
  });
});
</script>

<div id="header">
	<div class="inner cf">
		<div id="navigation">
			<ul>
				<li class="menu">
					<%= link_to "home", root_url %>
				</li>
				
				<li class="menu">	
					<%= link_to "about us", about_path %>
					<ul>
						<li><%= link_to "&raquo;".html_safe+" Mission & History", about_path %></li>
						<li><%= link_to "&raquo;".html_safe+" Leadership Video", "#lvid" %></li>
						<li><%= link_to "&raquo;".html_safe+" Staff", "#staff" %></li>
						<li><%= link_to "&raquo;".html_safe+" Hours & Directions", "#hours" %></li>
					</ul>
				</li>
				
				<li class="menu">
					<%= link_to "treatment", "#tment" %>
				</li>
				
				<li class="menu">	
					<%= link_to "leadership", "#ption" %>
					<ul>
						<li><%= link_to "&raquo;".html_safe+" Prevention", "#ption" %></li>
						<li><%= link_to "&raquo;".html_safe+" Our Teams", "#teams" %></li>
					</ul>
				</li>
				
				<li class="menu">
					<%= link_to "outreach", "#oreach" %>
				</li>
				
				<li class="menu">
					<%= link_to "board", "#board" %>
				</li>
				
				<li class="menu">
					<%= link_to "Foundation", "#fdation" %>
				</li>
				
				<li class="menu">
					<%= link_to "PADA", "#pada" %>
				</li>
				
				<li class="menu">
					<%= link_to "forms", "#forms" %>
				</li>
				
				<li class="menu">
					<%= link_to "videos", "#vids" %>
				</li>
				
				<li class="menu">
					<%= link_to "resources", "#rces" %>
				</li>
				
				<li class="menu">
					<%= link_to "calendar", "#cdar" %>
				</li>
				
			</ul>
		</div>
	</div>	
</div>