<div id="header">
	<div class="inner cf">
		<div id="navigation">
			<ul>
				<li class = "current-menu-item">
					<%= link_to "home", root_url%>
				</li>
				
				<li>	
					<%= link_to "about us", "#mission" %>
					<ul>
						<li><%= link_to "&raquo;".html_safe+" Mission & History", "#mission" %></li>
						<li><%= link_to "&raquo;".html_safe+" Leadership Video", "#lvid" %></li>
						<li><%= link_to "&raquo;".html_safe+" Staff", "#staff" %></li>
						<li><%= link_to "&raquo;".html_safe+" Hours & Directions", "#hours" %></li>
					</ul>
				</li>
				
				<li>
					<%= link_to "treatment", "#tment" %>
				</li>
				
				<li>	
					<%= link_to "leadership", "#ption" %>
					<ul>
						<li><%= link_to "&raquo;".html_safe+" Prevention", "#ption" %></li>
						<li><%= link_to "&raquo;".html_safe+" Our Teams", "#teams" %></li>
					</ul>
				</li>
				
				<li>
					<%= link_to "outreach", "#oreach" %>
				</li>
				
				<li>
					<%= link_to "board", "#board" %>
				</li>
				
				<li>
					<%= link_to "Foundation", "#fdation" %>
				</li>
				
				<li>
					<%= link_to "PADA", "#pada" %>
				</li>
				
				<li>
					<%= link_to "forms", "#forms" %>
				</li>
				
				<li>
					<%= link_to "videos", "#vids" %>
				</li>
				
				<li>
					<%= link_to "resources", "#rces" %>
				</li>
				
				<li>
					<%= link_to "calendar", "#cdar" %>
				</li>
				
			</ul>
		</div>
	</div>	
</div>
